.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

table {
    margin-left: 180px;
    height: 100px;
    width: 900px;
    background-color: bisque;
}

ul {
    display: flex;
    justify-content: space-between;
}

td {
    width: 600px;
    background-color: azure;
    color: aquamarine;
}

li {
    color: #0d1b39;
}

input {
    background-color: azure;
}

button {
    justify-content: space-around;
    margin: 15px;
    background-color: rgb(194, 187, 200);
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

h1 {
    color: rgb(161, 38, 38);
}